body {
    background-color: #F3DE2C;
    display: flex;
    justify-content: center;
}

#sign-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0 0 0;
}

.sign-up-dd {
    height: 75px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

dl {
    margin: 10px 0 0 0;
}

dd {
    width: 280px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 15px 0 0 0;
}

label {
    font-size: 1.25rem;
}

input {
    font-size: 1rem;
    border-color: none;
    border-radius: 5px;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-right {
    display: flex;
    justify-content: flex-end;
}

#sign-up-btn {
    background-color: #15B029;
    position: relative;
    outline: none;
    border: none;
    border-bottom: none;
    border-radius: 5px;
    width: 80px;
    font-size: 1rem;
    padding: 5px;
    -webkit-box-shadow: 0px 6px 0px #0B7619;
    -moz-box-shadow: 0px 6px 0px #0B7619;
    box-shadow: 0px 6px 0px #0B7619;
}

#sign-in-btn {
    background-color: #F19023;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 80px;
    font-size: 1rem;
    padding: 5px;
    -webkit-box-shadow: 0px 6px 0px #C26600;
    -moz-box-shadow: 0px 6px 0px #C26600;
    box-shadow: 0px 6px 0px #C26600;
    margin: 30px 0 0 0;
}

#sign-out-btn {
    background-color: #4B40C8;
    outline: none;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    font-size: 1rem;
    padding: 5px;
    -webkit-box-shadow: 0px 6px 0px #231C7B;
    -moz-box-shadow: 0px 6px 0px #231C7B;
    box-shadow: 0px 6px 0px #231C7B;
}

#sign-in {
    margin: 200px;
}

#sign-out {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
}

.userP {
    border-bottom: 1px solid #4B40C8;
    padding: 8px;
}

.warn {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #F20202;
    border: 2px solid #F20202;
    border-radius: 5px;
    margin: 5px 0 0 0;
}